<div class='container'>
    <h1>nofacebook </h1>
    <h4 align="right">{% if request.user.is_authenticated %}Logged in as <a href="/u/{{request.user}}" >{{request.user}}</a>{% endif %}</h4>
    <ul class="nav nav-pills ct-blue">
        
            <!--  color-classes: "ct-blue", "ct-azure", "ct-orange", "ct-red", "ct-green"
        
                  special-classes: "no-border"  -->
        
              <li><a href="{% url 'home' %}">Home</a></li>

              <li><a href="{% url 'home' %}"></a></li>

              <li><a href="{% url 'home' %}"></a></li>

              <li><a href="{% url 'home' %}"></a></li>

              <li><a href="{% url 'home' %}"></a></li>

              <li><a href="{% url 'register' %}">Register</a></li>

              <li><a href="{% url 'login' %}">Login</a></li>

              <li><a href="{% url 'about' %}">About</a></li>
        
              <li><a href="{% url 'contact' %}">Contact</a></li>
        
        </ul>
</div>